---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&query=denver%20co%20winter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=3117&query=denver+co+winter>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=2&query=denver+co+winter>;
        rel="next"
      X-Total:
      - '31169'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":31169,"total_pages":3117,"results":[{"id":"rPJrBQ9zi3c","created_at":"2020-09-03T00:56:16-04:00","updated_at":"2020-09-24T18:20:32-04:00","promoted_at":null,"width":3072,"height":4608,"color":"#C4B5B2","blur_hash":"LEBCY@IpxaM|9v-nNHNG~As,WDWV","description":"PORTRAITS
        INSTAGRAM - @LGNWVRPRTRTS \nEDITORIAL INSTAGRAM - @LGNWVRPHTO \nPERSONAL INSTAGRAM
        - @LGNWVR","alt_description":"black and brown leather case","urls":{"raw":"https://images.unsplash.com/photo-1599108859846-d82c3bdf65eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE3MTI5MH0","full":"https://images.unsplash.com/photo-1599108859846-d82c3bdf65eb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE3MTI5MH0","regular":"https://images.unsplash.com/photo-1599108859846-d82c3bdf65eb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE3MTI5MH0","small":"https://images.unsplash.com/photo-1599108859846-d82c3bdf65eb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE3MTI5MH0","thumb":"https://images.unsplash.com/photo-1599108859846-d82c3bdf65eb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3MTI5MH0"},"links":{"self":"https://api.unsplash.com/photos/rPJrBQ9zi3c","html":"https://unsplash.com/photos/rPJrBQ9zi3c","download":"https://unsplash.com/photos/rPJrBQ9zi3c/download","download_location":"https://api.unsplash.com/photos/rPJrBQ9zi3c/download"},"categories":[],"likes":2,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"XFHPUQCLl1o","updated_at":"2020-10-09T17:06:34-04:00","username":"lgnwvr","name":"LOGAN
        WEAVER","first_name":"LOGAN","last_name":"WEAVER","twitter_username":"Lgnwvrphto","portfolio_url":"https://www.lgnwvrphto.com/","bio":"without
        art, war \r\n\ud83d\udcecINQUIRIES - LOGAN@LGNWVRPHTO.COM   \r\n","location":"denver,
        co","links":{"self":"https://api.unsplash.com/users/lgnwvr","html":"https://unsplash.com/@lgnwvr","photos":"https://api.unsplash.com/users/lgnwvr/photos","likes":"https://api.unsplash.com/users/lgnwvr/likes","portfolio":"https://api.unsplash.com/users/lgnwvr/portfolio","following":"https://api.unsplash.com/users/lgnwvr/following","followers":"https://api.unsplash.com/users/lgnwvr/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1602024009449-ec8143eb356fimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1602024009449-ec8143eb356fimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1602024009449-ec8143eb356fimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Lgnwvrphto","total_collections":18,"total_likes":11583,"total_photos":3270,"accepted_tos":true},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]},{"id":"On4VVUCw4jM","created_at":"2020-09-03T00:56:16-04:00","updated_at":"2020-09-24T18:20:32-04:00","promoted_at":null,"width":3072,"height":4608,"color":"#CCCAC4","blur_hash":"L5A]yt?a%ME10#ofEMX94:RjxCoe","description":"PORTRAITS
        INSTAGRAM - @LGNWVRPRTRTS \nEDITORIAL INSTAGRAM - @LGNWVRPHTO \nPERSONAL INSTAGRAM
        - @LGNWVR","alt_description":"black and brown leather bag on brown wooden
        table","ur[...]
