---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&query=summer%20beach
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=8493&query=summer+beach>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=2&query=summer+beach>;
        rel="next"
      X-Total:
      - '84926'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":84926,"total_pages":8493,"results":[{"id":"tbnmOAoP26E","created_at":"2018-11-11T15:06:29-05:00","updated_at":"2020-09-25T16:12:29-04:00","promoted_at":null,"width":4752,"height":3168,"color":"#1B1A19","blur_hash":"LbI5re~qs:axb{tRs,ogx^t7V@R*","description":null,"alt_description":"green
        coconut trees near ocean","urls":{"raw":"https://images.unsplash.com/photo-1541966754-04418bcc47c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE3MTI5MH0","full":"https://images.unsplash.com/photo-1541966754-04418bcc47c7?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE3MTI5MH0","regular":"https://images.unsplash.com/photo-1541966754-04418bcc47c7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE3MTI5MH0","small":"https://images.unsplash.com/photo-1541966754-04418bcc47c7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE3MTI5MH0","thumb":"https://images.unsplash.com/photo-1541966754-04418bcc47c7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3MTI5MH0"},"links":{"self":"https://api.unsplash.com/photos/tbnmOAoP26E","html":"https://unsplash.com/photos/tbnmOAoP26E","download":"https://unsplash.com/photos/tbnmOAoP26E/download","download_location":"https://api.unsplash.com/photos/tbnmOAoP26E/download"},"categories":[],"likes":18,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"lM79cT7CY1Q","updated_at":"2020-10-08T11:08:54-04:00","username":"jrduncan11","name":"John
        Duncan","first_name":"John","last_name":"Duncan","twitter_username":null,"portfolio_url":"http://bluewrenphotography.com","bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/jrduncan11","html":"https://unsplash.com/@jrduncan11","photos":"https://api.unsplash.com/users/jrduncan11/photos","likes":"https://api.unsplash.com/users/jrduncan11/likes","portfolio":"https://api.unsplash.com/users/jrduncan11/portfolio","following":"https://api.unsplash.com/users/jrduncan11/following","followers":"https://api.unsplash.com/users/jrduncan11/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1541962384982-78605f350af9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1541962384982-78605f350af9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1541962384982-78605f350af9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":null,"total_collections":2,"total_likes":3,"total_photos":43,"accepted_tos":true},"tags":[{"type":"landing_page","title":"summer","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"summer","pretty_slug":"Summer"}},"title":"Summer
        Images & Pictures","subtitle":"Download free summer images","description":"Choose
        from a curated selection of summer photos. Always free on Unsplash.","meta_title":"Best
        Summer Pictures [HD] | Download Free Images on Unsplash","meta_description":"Choose
        from hundreds of free summer pictures. Download HD summer photos for free
        on Unsplash.","cover_photo":{"id":"_MdUz-1Ofsg","created_at":"2018-11-27T03:23:20-05:00","updated_at":"2020-10-07T01:04:16-04:00","promoted_at":null,"width":2916,"height":3888,"color":"#2E2F32","blur_hash":"LSErU,L}k=tm_4cFXTnNyXtRibVs","description":null,"alt_description":"coconut
        trees under blue sky during daytime","urls":{"raw":"https://images.unsplash.com/photo-1543306983-a562d8739781?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1543306983-a562d8739781?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=sr[...]
